<!DOCTYPE html>
<html>
<head>
  <title>Dutch Treat: @ViewBag.Title</title>

  <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <div class="navbar navbar-inverse">
    <header class="container">
      <div class="navbar-header">
        <div class="navbar-brand"><i class="fa fa-paint-brush"></i> Dutch Treat</div>
        <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
      </div>
      <div id="menu" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a asp-controller="App" asp-action="Index">Home</a></li>
          <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
          <li><a asp-controller="App" asp-action="About">About</a></li>
        </ul>
      </div>
    </header>
  </div>

  <section class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    @RenderBody()
  </section>

  <footer class="container">
    <div class="text-center">Copyright 2017 Dutch Treat LLC</div>
  </footer>


  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="~/js/index.js"></script>
  @RenderSection("scripts", false)
</body>
</html>